@inject States.ImportExportState _state
@implements IDisposable

@page "/Export"

<h3>ExportPage</h3>

<ExportComponent />

<p>Number of items : @_state.Classes.Count</p>
<button @onclick="Export">Export</button>

@code {
    protected override void OnInitialized() => _state.OnStateChange += StateHasChanged;
    public void Dispose() => _state.OnStateChange -= StateHasChanged;

    private void Export()
    {
        // TODO call service
    }

}