@inject States.ImportExportState _state
@implements IDisposable

<input @bind="ClassName" type="text" class="form-control" placeholder="Class to export" aria-label="Class to export" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">.cs</span>
  </div>
<button @onclick="AddClass">Add</button>


@foreach (var c in _state.Classes)
{
    <li>
        <ul>
            @c .cs
        </ul>
    </li>
}

@code {

    private string ClassName { get; set; }
    
    protected override void OnInitialized() => _state.OnStateChange += StateHasChanged;
    public void Dispose() => _state.OnStateChange -= StateHasChanged;

    private void AddClass()
    {
        if (ClassName != null)
        {
            _state.AddClass(ClassName);
            ClassName = null;
        }
    }
}